In [4]:
import pandas as pd
import numpy as np

In [5]:
used_features = ["Temp", "PH","D.O. (mg/l)"]
data = pd.read_csv("waterdata.csv", usecols = used_features, encoding= 'unicode_escape')

In [6]:
data

      Temp D.O. (mg/l)     PH
0     30.6         6.7    7.5
1     29.8         5.7    7.2
2     29.5         6.3    6.9
3     29.7         5.8    6.9
4     29.5         5.8    7.3
...    ...         ...    ...
1983    30         7.9  738.0
1984    29         7.5  585.0
1985    28         7.6   98.0
1986    28         7.7   91.0
1987    29         7.6  110.0

[1988 rows x 3 columns]

In [7]:
data["Temp"] = pd.to_numeric(data['Temp'], errors='coerce')
data["Temp"] = data["Temp"].replace(np.nan, 0)
data["PH"] = pd.to_numeric(data['PH'], errors='coerce')
data["PH"] = data["PH"].replace(np.nan, 0)
data["D.O. (mg/l)"] = pd.to_numeric(data["D.O. (mg/l)"], errors='coerce')
data["D.O. (mg/l)"] = data["D.O. (mg/l)"].replace(np.nan, 0)

In [8]:
data=data.mask(data["Temp"]==0).fillna(data["Temp"].mean())
data=data.mask(data["PH"]==0).fillna(data["PH"].mean())
data=data.mask(data["D.O. (mg/l)"]==0).fillna(data["D.O. (mg/l)"].mean())
target = data["D.O. (mg/l)"]

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
     data, target, test_size=0.33, random_state=42)

In [10]:
X_train.head()

      Temp  D.O. (mg/l)       PH
380   27.3          4.6     7.00
1933  26.0          6.9  1835.00
1790  29.0          7.2     7.42
84    30.7          6.9     6.80
1667  18.0          6.1     3.10

In [11]:
train_X = X_train.drop(columns=['D.O. (mg/l)'])
train_X.head()

      Temp       PH
380   27.3     7.00
1933  26.0  1835.00
1790  29.0     7.42
84    30.7     6.80
1667  18.0     3.10

In [12]:
y_train.shape

(1331,)

In [13]:
train_y = data[['D.O. (mg/l)']]
train_y.head()

   D.O. (mg/l)
0          6.7
1          5.7
2          6.3
3          5.8
4          5.8

In [14]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import tensorflowjs as tfjs

In [15]:
n_cols = train_X.shape[1]

In [16]:
model = keras.Sequential(
    [
        layers.Dense(10, activation="relu", name="layer1",input_shape=(n_cols,)),
        layers.Dense(3, activation="relu", name="layer2"),
        layers.Dense(1, name="layer3"),
    ]
)

In [17]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [18]:
from tensorflow.keras.callbacks import EarlyStopping

In [19]:
early_stopping_monitor = EarlyStopping(patience=3)

In [20]:
model.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Epoch 1/30
34/34 [==============================] - 0s 5ms/step - loss: 134888.4531 - val_loss: 190.6741
Epoch 2/30
34/34 [==============================] - 0s 2ms/step - loss: 98346.8984 - val_loss: 132.5723
Epoch 3/30
34/34 [==============================] - 0s 2ms/step - loss: 64483.6094 - val_loss: 81.6756
Epoch 4/30
34/34 [==============================] - 0s 3ms/step - loss: 39814.9727 - val_loss: 48.5388
Epoch 5/30
34/34 [==============================] - 0s 2ms/step - loss: 24494.5254 - val_loss: 24.9977
Epoch 6/30
34/34 [==============================] - 0s 1ms/step - loss: 13225.4150 - val_loss: 18.1318
Epoch 7/30
34/34 [==============================] - 0s 2ms/step - loss: 6659.7178 - val_loss: 10.9766
Epoch 8/30
34/34 [==============================] - 0s 2ms/step - loss: 3631.1292 - val_loss: 9.7798
Epoch 9/30
34/34 [==============================] - 0s 2ms/step - loss: 1119.3126 - val_loss: 10.7473
Epoch 10/30
34/34 [==============================] - 0s 2ms/step - loss: 490.4589 - val_loss: 12.0368
Epoch 11/30
34/34 [==============================] - 0s 2ms/step - loss: 175.8047 - val_loss: 12.6302

In [25]:
tfjs_target_dir = "./tfjs"

In [26]:
tfjs.converters.save_keras_model(model, tfjs_target_dir)

In [21]:
test_X = X_test.drop(columns=['D.O. (mg/l)'])
test_X
# test_y_predictions = model.predict(X_test)

      Temp    PH
1251  28.0  6.90
757   25.0  2.60
1379  25.0  7.30
70    27.5  6.70
1206  24.0  7.05
...    ...   ...
522   28.0  6.80
513   29.0  7.20
81    26.0  7.50
1872  28.0  7.58
1007  22.7  7.20

[657 rows x 2 columns]

In [ ]:
30.6,6.7,7.5

In [41]:
data = [[30.6, 7.5]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Temp', 'PH']) 
  
# print dataframe. 
df

   Temp   PH
0  30.6  7.5

In [43]:
# test_y_predictions = model.predict(test_X)
test_y_predictions = model.predict(df)

In [45]:
test_y_predictions

array([[7.67238]], dtype=float32)