In [3]:
import pandas as pd
import numpy as np

In [4]:
used_features = ["Temp", "PH","D.O. (mg/l)"]
data = pd.read_csv("waterdata.csv", usecols = used_features, encoding= 'unicode_escape')

In [5]:
data

      Temp D.O. (mg/l)   PH
0     30.6         6.7  7.5
1     29.8         5.7  7.2
2     29.5         6.3  6.9
3     29.7         5.8  6.9
4     29.5         5.8  7.3
...    ...         ...  ...
1986   NAN         7.9  738
1987    29         7.5  585
1988    28         7.6   98
1989    28         7.7   91
1990    29         7.6  110

[1991 rows x 3 columns]

In [6]:
data["Temp"] = pd.to_numeric(data['Temp'], errors='coerce')
data["Temp"] = data["Temp"].replace(np.nan, 0)
data["PH"] = pd.to_numeric(data['PH'], errors='coerce')
data["PH"] = data["PH"].replace(np.nan, 0)
data["D.O. (mg/l)"] = pd.to_numeric(data["D.O. (mg/l)"], errors='coerce')
data["D.O. (mg/l)"] = data["D.O. (mg/l)"].replace(np.nan, 0)

In [7]:
data=data.mask(data["Temp"]==0).fillna(data["Temp"].mean())
data=data.mask(data["PH"]==0).fillna(data["PH"].mean())
data=data.mask(data["D.O. (mg/l)"]==0).fillna(data["D.O. (mg/l)"].mean())
target = data["D.O. (mg/l)"]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
     data, target, test_size=0.33, random_state=42)

In [9]:
X_train.head()

      Temp  D.O. (mg/l)     PH
1010  26.0         6.00  7.500
380   27.9         5.90  7.000
1789  27.0         7.20  8.070
1680  22.0         5.35  7.935
84    30.7         6.90  6.800

In [10]:
train_X = X_train.drop(columns=['D.O. (mg/l)'])
train_X.head()

      Temp     PH
1010  26.0  7.500
380   27.9  7.000
1789  27.0  8.070
1680  22.0  7.935
84    30.7  6.800

In [11]:
y_train.shape

(1333,)

In [13]:
train_y = data[['D.O. (mg/l)']]
train_y.head()

   D.O. (mg/l)
0          6.7
1          5.7
2          6.3
3          5.8
4          5.8

In [14]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [15]:
n_cols = train_X.shape[1]

In [16]:
model = keras.Sequential(
    [
        layers.Dense(10, activation="relu", name="layer1",input_shape=(n_cols,)),
        layers.Dense(3, activation="relu", name="layer2"),
        layers.Dense(1, name="layer3"),
    ]
)

In [17]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [18]:
from tensorflow.keras.callbacks import EarlyStopping

In [19]:
early_stopping_monitor = EarlyStopping(patience=3)

In [20]:
model.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Epoch 1/30
34/34 [==============================] - 0s 4ms/step - loss: 73434.7266 - val_loss: 114.8943
Epoch 2/30
34/34 [==============================] - 0s 1ms/step - loss: 58383.8281 - val_loss: 85.7083
Epoch 3/30
34/34 [==============================] - 0s 2ms/step - loss: 44651.8281 - val_loss: 67.9083
Epoch 4/30
34/34 [==============================] - 0s 2ms/step - loss: 37085.7500 - val_loss: 47.1016
Epoch 5/30
34/34 [==============================] - 0s 2ms/step - loss: 26733.2051 - val_loss: 37.3954
Epoch 6/30
34/34 [==============================] - 0s 3ms/step - loss: 20360.3242 - val_loss: 28.3835
Epoch 7/30
34/34 [==============================] - 0s 2ms/step - loss: 15489.9512 - val_loss: 20.4110
Epoch 8/30
34/34 [==============================] - 0s 2ms/step - loss: 10942.1084 - val_loss: 15.5045
Epoch 9/30
34/34 [==============================] - 0s 1ms/step - loss: 7509.0776 - val_loss: 13.4031
Epoch 10/30
34/34 [==============================] - 0s 2ms/step - loss: 5583.2393 - val_loss: 10.5372
Epoch 11/30
34/34 [==============================] - 0s 2ms/step - loss: 3832.7544 - val_loss: 8.2894
Epoch 12/30
34/34 [==============================] - 0s 2ms/step - loss: 2225.3984 - val_loss: 7.5177
Epoch 13/30
34/34 [==============================] - 0s 2ms/step - loss: 1446.8219 - val_loss: 6.9373
Epoch 14/30
34/34 [==============================] - 0s 2ms/step - loss: 899.3944 - val_loss: 6.6434
Epoch 15/30
34/34 [==============================] - 0s 2ms/step - loss: 583.6686 - val_loss: 6.5181
Epoch 16/30
34/34 [==============================] - 0s 2ms/step - loss: 304.9767 - val_loss: 6.4385
Epoch 17/30
34/34 [==============================] - 0s 3ms/step - loss: 190.2664 - val_loss: 6.4342
Epoch 18/30
34/34 [==============================] - 0s 2ms/step - loss: 107.5808 - val_loss: 6.4820
Epoch 19/30
34/34 [==============================] - 0s 3ms/step - loss: 57.2878 - val_loss: 6.4509
Epoch 20/30
34/34 [==============================] - 0s 2ms/step - loss: 38.1372 - val_loss: 6.4844

In [40]:
test_X = X_test.drop(columns=['D.O. (mg/l)'])
test_X
# test_y_predictions = model.predict(X_test)

      Temp    PH
887   28.8  7.50
1670  16.0  7.00
414   28.0  8.20
1080  26.4  7.70
1102  28.1  6.90
...    ...   ...
1857  18.0  3.05
522   28.0  6.60
513   30.0  6.80
81    26.0  7.50
720   28.0  7.50

[658 rows x 2 columns]

In [ ]:
30.6,6.7,7.5

In [41]:
data = [[30.6, 7.5]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Temp', 'PH']) 
  
# print dataframe. 
df

   Temp   PH
0  30.6  7.5

In [43]:
# test_y_predictions = model.predict(test_X)
test_y_predictions = model.predict(df)

In [45]:
test_y_predictions

array([[7.67238]], dtype=float32)